.carousel-arrow_type_right {
    right: 11%;
    background: transparent 50% no-repeat url("../../../images/arrow-right.svg");
}

@media screen and (max-width: 1230px){
    .carousel-arrow_type_right {
        right: 13%;
    }
}

@media screen and (max-width: 1050px){
    .carousel-arrow_type_right {
        right: 15%;
    }
}

