.page {
    background: #EEF2F4;

    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 1024px) {
    .page {
        padding-top: 0;
        padding-bottom: 0;
    }
}