.header__menu-item {
    margin-right: 39px;
    position: relative;
}
.header__menu-item:last-child {
    margin-right: 0;
}

.header__menu-item::after {
    background-color: #8F6B2D;
    display: block;
    content: "";
    height: 1px;
    width: 0;
    margin-top: 8px;
    position: absolute;
}

.header__menu-item:hover::after {
    width: 100%;
}

@media screen and (max-width: 1520px){
    .header__menu-item {
        margin-right: 25px;
    }
}

@media screen and (max-width: 1360px){
    .header__menu-item {
        margin-right: 15px;
    }
}

@media screen and (max-width: 1070px){
    .header__menu-item {
        margin-right: 12px;
    }
}

@media screen and (max-width: 991px){
    .header__menu-item {
        text-align: center;
        margin-bottom: 44px;
        margin-right: 0;
    }

    .header__menu-item:last-child {
        margin-bottom: 0;
    }

    .header__menu-item:hover::after {
        width: 0;
    }
}