.popup__container {
    padding: 24px;
    width: 442px;
    height: 336px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    position: relative;
}

@media screen and (max-width: 768px) {
    .popup__container {
        width: 375px;
        height: 302px;
    }
}
