.navbar {
    min-height: 87px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 62px 3% 0 3%;
}

@media screen and (max-width: 576px) {
    .navbar {
        min-height: 86px;
        padding: 42px 4% 25px 4%;
    }
}

