.experience-item__time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
    .experience-item__time {
        margin-bottom: 16px;
    }
}