.offer__like {
    width: 36px;
    height: 36px;
    background: transparent center no-repeat url("../../../images/like.svg");
    border: none;
}

.offer__like:hover {
    background: transparent center no-repeat url("../../../images/like-hover.svg");
    cursor: pointer;
}