.portfolio__carousel-arr-right {
    width: 32px;
    height: 32px;
    background: transparent center no-repeat url("../../../images/arr-right.svg");
    border: none;
    position: absolute;
    z-index: 5;

    top: 50%;
    transform: translateY(-50%);
    right: -23px;
}