.header__logo {
    height: 28px;
    width: 272px;
}

@media screen and (max-width: 1360px) and (min-width: 991px) {
    .header__logo {
        height: 19px;
        width: 183px;
    }
}

@media screen and (max-width: 991px) {
    .header__logo {
        order: 2;
    }
}

@media screen and (max-width: 576px) {
    .header__logo {
        height: 19px;
        width: 183px;
    }
}

