.info__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 24px 0;
}

@media screen and (max-width: 768px) {
    .info__header {
        justify-content: center;
        margin: 0 0 25px 0;
    }
}