.projects-carousel__item-title {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 2px;
    margin: 0;
}