.popup-photo__btn-close {
    top: 0;
    right: -36px;
    position: absolute;
    width: 24px;
    height: 24px;

    background: transparent center no-repeat url("../../../images/close.svg");
    border: none;
}

.popup-photo__btn-close:focus {
    border: none;
    outline: none;
}

.popup-photo__btn-close:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .popup-photo__btn-close {
        background: transparent center no-repeat url("../../../images/close-mob.svg");
        right: 0;
        left: 10px ;
        top: 13px;
        width: 20px;
        height: 20px;
    }
}