.project-container__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #131217;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 576px) {
    .project-container__text {
        font-size: 16px;
        line-height: 28px;
    }
}