.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 62px 20px 61px 20px;
}

.partners__title {
    text-align: center;
    font: normal normal 600 36px/48px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 54px;
}

.partners__list {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.partners__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    width: 100%;
}

// .partners__item-img {
//     margin-bottom: 15px;

//     &--one {
//         width: 110px;
//         height: 100px;
//         background: transparent center no-repeat url('@img/logo_partner1.svg');
//     }

//     &--two {
//         width: 90px;
//         height: 100px;
//         background: transparent center no-repeat url('@img/logo_partner2.svg');
//     }

//     &--tree {
//         width: 100px;
//         height: 100px;
//         background: transparent center no-repeat url('@img/logo_partner3.svg');
//     }

//     &--four {
//         width: 148px;
//         height: 100px;
//         background: transparent center no-repeat url('@img/logo_partner4.svg');
//     }

//     &--five {
//         width: 115px;
//         height: 100px;
//         background: transparent center no-repeat url('@img/logo_partner5.svg');
//     }

//     &--six {
//         width: 114px;
//         height: 100px;
//         background: transparent center no-repeat url('@img/logo_partner6.svg');
//     }
// }

.partners__item-text {
    text-align: center;
    font: normal normal 600 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #000000;
}


@media screen and (max-width: 799px) {
    .partners {
        padding: 27px 20px 33px 20px;
    }
    
    .partners__title {
        font: normal normal 600 20px/27px Open Sans;
        margin-bottom: 27px;
    }
    
    .partners__list {
        flex-wrap: wrap;
        gap: 33px 27px;
    }
    
    .partners__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 160px;
        width: 100%;
    }
    
    .partners__item-text {
        text-align: center;
        font: normal normal 600 12px/16px Open Sans;
        letter-spacing: 0px;
        color: #000000;
    }
}


@media screen and (max-width: 400px) {
    .partners__item {
        max-width: 140px;
    }
}

@media screen and (max-width: 340px) {
    .partners__item {
        max-width: 120px;
    }
}