// .search {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 360px;
//     background: transparent center no-repeat url('@img/pic_main.jpg');
//     background-size: cover;
// }

.search__content {
    max-width: 960px;
    width: 100%;
}

.search__title {
    padding-top: 89px;
    color: #FFFFFF;
    letter-spacing: 0px;
    color: #FFFFFF;
    font: normal normal 600 36px/48px Open Sans;
    margin: 0 0 17px 0;
}

.search__form {
    display: flex;
    gap: 17px;
    width: 100%;
    margin-bottom: 12px;
}

.search__input {
    box-sizing: border-box;
    max-width: 800px;
    height: 60px;
    width: 100%;
    font: normal normal normal 16px/21px Open Sans;
    letter-spacing: 0px;
    color: #00000075;
    padding: 19px 24px 20px 19px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #00468533;
    border-radius: 8px;

    &:focus {
        outline: none;
    }
}

.search__btn {
    width: 142px;
    height: 60px;
    background: #D30531 0% 0% no-repeat padding-box;
    border-radius: 8px;
    outline: none;
    border: none;
    font: normal normal 600 24px/32px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;

    @media (any-hover: hover) {
        &:hover {
            cursor: pointer;
            background: #d53154;
        }
    }
}

.search__subtitle {
    font: normal normal normal 16px/21px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0;
}



@media screen and (max-width: 799px) {
    .search__content {
        max-width: 960px;
        width: 100%;
    }
    
    .search__title {
        padding-top: 40px;
        margin-bottom: 19px;
        text-align: center;
        font: normal normal 600 20px/27px Open Sans;
    }
    
    .search__form {
        gap: 17px;
        margin-bottom: 8px;
        position: relative;
    }
    
    .search__input {
        height: 48px;
        padding: 13px 44px 14px 12px;
        font: normal normal normal 16px/24px Open Sans;
        border-radius: 4px;
    }
    
    // .search__btn {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 48px;
    //     height: 48px;
    //     background: transparent center no-repeat url('@img/ic_search.svg');
    //     border-radius: 4px;
    //     font-size: 0;
    // }
    
    .search__subtitle {
        font: normal normal normal 12px/16px Open Sans;
    }
}