.header__menu-item-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #CCCBC6;
    text-decoration: none;
}

.header__menu-item-link:hover {
    color: #8F6B2D;
}

@media screen and (max-width: 1520px){
    .header__menu-item-link {
        font-size: 13px;
    }
}

@media screen and (max-width: 1360px){
    .header__menu-item-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 1070px){
    .header__menu-item-link {
        font-size: 11px;
    }
}

@media screen and (max-width: 991px){
    .header__menu-item-link {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 2px;
        color: #757470;
    }

}