.offer__menu {
    width: 234px;
    height: 36px;
    background: #FFA438;
    border-radius: 6px;
    margin-right: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.offer__menu:hover {
    background: #FF9316;
    cursor: pointer;
}

.offer__menu:hover ~ .offer__list {
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .offer__menu:hover ~ .offer__list {
        display: none;
        cursor: pointer;
    }
}