.header__phone {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.header__phone_scroll {
    font-size: 15px;
    line-height: 18px;
    color: #131217;
}