.history {
    margin-bottom: 32px;

    border: 1px solid #E7EEF6;
    box-sizing: border-box;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .actions-list-desktop {
        display: none;
    }
}