.portfolio__carousel-box {
    position: relative;
}

.owl-item {
    display: flex;
    align-items: center;
    justify-content: center;

}


.owl-carousel .owl-stage {
    left: -50px;
}

@media screen and (max-width: 425px) {
    .owl-carousel .owl-stage {
        left: 0;
    }
}