.projects-carousel__item-size {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 128%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #BF9C62;
    margin: 0;
}