.experience-item__firm-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1E1D2E;
    margin: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .experience-item__firm-name {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #232056;
    }
}