.offer__list-item_type_mobile {
    font-size: 17px;
    line-height: 24px;
    color: #1E1D2E;
    padding: 16px 0;

    border-bottom: 1px solid #EEF2F4;
    box-sizing: border-box;

}

.offer__list-item_type_mobile:last-child {
    border-bottom: 0;
}