.popup-photo__btn-left {
    background: transparent center no-repeat url("../../../images/arr-left.svg");
    border: none;
}

.fancybox-navigation .fancybox-button--arrow_left {
    padding: 0;
    left: 29%;
    visibility: visible;
    opacity: 1;
    transition: none;
}

@media screen and (max-width: 1300px) {
    .fancybox-navigation .fancybox-button--arrow_left {
        padding: 0;
        left: 25%;
    }
}

@media screen and (max-width: 1133px) {
    .fancybox-navigation .fancybox-button--arrow_left {
        padding: 0;
        left: 22%;
    }
}

@media screen and (max-width: 1024px) {
    .fancybox-navigation .fancybox-button--arrow_left {
        display: none;
    }
}