.offer__list_type_mobile  {
    padding: 0 20px;
    margin: 0 0 10px 0;
    list-style: none;
    width: 100%;
    height: 398px;

    box-sizing: border-box;
    border-radius: 16px;
    background: #FFFFFF;

    display: block;
    position: relative;
    z-index: 1;
    top: 0;

    box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
}