.header__phone-icon {
    background: transparent 50% no-repeat url("../../../images/phone.svg");
    width: 20px;
    height: 20px;
    border: none;
    display: none;
}

@media screen and (max-width: 576px) {
    .header__phone-icon {
        display: block;
    }
}

