.offer__list-close-mobile-btn {
    box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
    width: 355px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 16px;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #334866;
}

.offer__list-close-mobile-btn:hover {
    color: #1E1D2E;
    cursor: pointer;
}