.video-interview {
    width: 290px;
    height: 74px;
    border: 1px solid #E7EEF6;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.video-interview:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .video-interview {
        border-radius: 0;
        border: 0;
        margin-bottom: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        height: 64px;
        width: 345px;
    }
}