.projects {
    min-height: 1243px;
    padding: 124px 0 103px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 576px) {
    .projects {
        min-height: 500px;
        padding: 97px 0 68px 0;
        box-sizing: border-box;
    }
}
