.popup-photo {
    display: none;
    width: 630px;
    height: 453px;
    padding: 0;
    overflow: visible;
    box-sizing: border-box;
}

.fancybox-content {
    background: #FFFFFF;
    padding: 0;
    box-shadow: 1px 4px 40px rgba(54, 94, 125, 0.1);
    border-radius: 16px;

    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
    overflow: visible;
}

.fancybox-bg{
    background: rgba(229, 229, 229, 0.5);
}

.fancybox-infobar {
    visibility: visible;
    opacity: 1;
    transition: none;
}

.fancybox-infobar {
    display: none;
}



@media screen and (max-width: 768px) {
    .popup-photo {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .fancybox-content {
        box-shadow: none;
        border-radius: 0;
        background: #000;
    }

    .fancybox-slide--html {
        padding: 0;
    }

    .fancybox-infobar {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;

        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(27, 28, 30, 0.75);
    }
}

