.popup-photo__btn-right {
    background: transparent center no-repeat url("../../../images/arr-right.svg");
    border: none;
}


.fancybox-navigation .fancybox-button--arrow_right {
    padding: 0;
    right: 29%;
    visibility: visible;
    opacity: 1;
    transition: none;
}

@media screen and (max-width: 1300px) {
    .fancybox-navigation .fancybox-button--arrow_right {
        right: 25%;
    }
}

@media screen and (max-width: 1133px) {
    .fancybox-navigation .fancybox-button--arrow_right {
        right: 22%;
    }
}

@media screen and (max-width: 1024px) {
    .fancybox-navigation .fancybox-button--arrow_right {
        display: none;
    }
}

